header.header_main
    .header_top
        .container.main_flex__nowrap.flex__jcontent_between.flex__align-items_center
            .welcome_message
                p Welcome To Our Lifestyle Blog
                p Today: 
                    span#current_date 17 July, 2018
            .logo
                a(href="index.html")
                    img(src="images/icons/logo.png", alt="Blog Logo")
            .socials
                ul.main_flex__nowrap.flex__jcontent_between.flex__align-items_center
                    li: a(href="#")
                        img(src="images/icons/youtube_icon.png", alt="YouTube Logo")
                    li: a(href="#")
                        img(src="images/icons/instagram_icon.png", alt="Instagram Logo")
                    li: a(href="#")
                        img(src="images/icons/twitter_icon.png", alt="Twitter Logo")
                    li: a(href="#")
                        img(src="images/icons/facebook_icon.png", alt="Facebook Logo")
    nav.main_menu
        
        ul.container.main_flex__nowrap.flex__jcontent_between.flex__align-items_center
            li: a(href="index.html" class="active") home
            li: a(href="food.html") food
            li: a(href="drink.html") drink
            li: a(href="life.html") life
            li: a(href="recipes.html") recipes
            li: a(href="travel.html") travel
            li: a(href="about.html") about
            li: a(href="contact.html") contact