.container
    .slider
        .slides.fade
            img(src="images/content/slider_img_1.png", alt="Slider Image")
            .slide_info
                .slide_info__btn.btn travel
                .slide_info__description Voluptas assumenda sunt omnis modi ut ut
        .slides.fade
            img(src="images/content/slider_img_2.jpeg", alt="Slider Image")
            .slide_info
                .slide_info__btn.btn travel
                .slide_info__description Voluptas assumenda sunt omnis modi ut 2
        .slides.fade
            img(src="images/content/slider_img_3.jpeg", alt="Slider Image")
            .slide_info
                .slide_info__btn.btn travel
                .slide_info__description Voluptas assumenda sunt omnis modi ut 3

        a#prev
            img(src="images/icons/left_angle_icon.png", alt="Prev Arrow")
        a#next
            img(src="images/icons/right_angle_icon.png", alt="Prev Arrow")