.socials
    ul.main_flex__nowrap.flex__jcontent_between.flex__align-items_center
        li: a(href="#")
            img(src="images/icons/youtube_icon.png", alt="YouTube Logo")
        li: a(href="#")
            img(src="images/icons/instagram_icon.png", alt="Instagram Logo")
        li: a(href="#")
            img(src="images/icons/twitter_icon.png", alt="Twitter Logo")
        li: a(href="#")
            img(src="images/icons/facebook_icon.png", alt="Facebook Logo")