body {
    background-color: @bg-grey;

    font-family: 'Montserrat', sans-serif;
    font-size: @font-size-13px;
    font-weight: 300;
    color: @font-dark-grey;
}

.container {
    width: @wsize-940px;
    margin: 0 auto;
}

.main_grid {
    display: grid;
    grid-template-columns: repeat(3, @wsize-300px);
    grid-column-gap: @wsize-20px;
    grid-row-gap: @wsize-22px;
}

.btn {
    padding: @wsize-5px @wsize-11px;

    display: flex;
    justify-content: center;

    background-color: @bg-orange;

    text-transform: uppercase;
    text-align: center;
    color: @white;

    cursor: pointer;
    transition: transform .3s ease-in-out;

    &:hover{
        transform: scale(1.25);
    }
}
// end of .btn

h2 {
    font-family: 'Gilda Display', serif;
    font-size: @font-size-24px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: @font-size-14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align-last: left;
    letter-spacing: 2px;
}

.section_header {
    width: @wsize-300px;
    margin: 0 auto @wsize-46px;
    padding: @wsize-11px @wsize-20px;

    background-color: @orange;
    color: @white;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
