body {
    background-color: @bg-grey;

    font-family: 'Montserrat', sans-serif;
    font-size: @font-size-13px;
    font-weight: 300;
    color: @font-dark-grey;
}

.container {
    width: @wsize-940px;
    margin: 0 auto;
}