// general page width from the design - 1440px
@wsize-11px: 0.76vw;
@wsize-18px: 1.25vw;
@wsize-30px: 2.08vw;
@wsize-35px: 2.43vw;
@wsize-46px: 3.19vw;
@wsize-76px: 5.28vw;
@wsize-205px: 14.24vw;
@wsize-940px: 65.28vw;