// general page width from the design - 1440px
@wsize-5px: 0.35vw;
@wsize-11px: 0.76vw;
@wsize-18px: 1.25vw;
@wsize-25px: 1.74vw;
@wsize-30px: 2.08vw;
@wsize-35px: 2.43vw;
@wsize-40px: 2.78vw;
@wsize-46px: 3.19vw;
@wsize-76px: 5.28vw;
@wsize-80px: 5.55vw;
@wsize-90px: 6.25vw;
@wsize-103px: 7.15vw;
@wsize-205px: 14.24vw;
@wsize-604px: 41.94vw;
@wsize-643px: 44.65vw;
@wsize-940px: 65.28vw;