extends _layouts/page_template

block content
    div.home_page
        include _modules/slider
        include _modules/featured_posts
        include _modules/blog
        include _modules/instagram_feed
